.service_main {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}
.service_container,
.service_container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 100%;
}

.service_left {
  flex: 50%;
}
.service_left-text {
  color: var(--white);
  text-align: start;
}
.service_left h4 {
  font-size: 2rem;
}

.service_left p {
  font-size: 1.2rem;
  line-height: 30px;
  margin-top: 10px;
}

.service_right {
  flex: 50%;
  padding: 0 2rem;
}
.service_right img {
  /* height: 70%; */
  width: 100%;
  border-radius: 10px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
}

.service_left-text button {
  background-color: var(--red);
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}
.service_left-text button:hover {
  background-color: var(--grey);
  color: var(--black);
}

@media screen and (max-width: 1024px) {
  .service_main {
    height: auto;
    width: 95%;
  }
  .service_container,
  .service_container-2 {
    margin: 30px auto;
  }
}

@media screen and (max-width: 650px) {
  .service_main {
    height: auto;
    width: 90%;
  }
  .service_container {
    flex-direction: column;
    /* margin: 30px auto; */
  }
  .service_container-2 {
    flex-direction: column-reverse;
    /* margin: 30px auto; */
  }

  .service_left h4 {
    font-size: 2rem;
  }
  .service_left {
    margin: 2rem auto;
  }
  .service_left p {
    font-size: 1.2rem;
    line-height: 30px;
    margin-top: 10px;
  }

  .service_left-text {
    text-align: center;
  }
  .service_left-text button {
    font-size: 1.2rem;
  }
}
