.contact {
  width: 100%;
  height: auto;
  background-color: var(--lightGray-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contact-info {
  width: 70%;
  margin: 3rem auto 1rem auto;
  font-size: 1.5rem;
}
@media screen and (max-width: 650px) {
  .contact {
    text-align: start;
  }
  .contact-info {
    width: 90%;
  }
}
