.nav-wrap {
  height: 50px;
  /* position: fixed; */
  /* z-index: 99; */
  width: 100%;
}

.nav-main {
  width: 80%;
  margin: auto;
  padding-top: 20px;

  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nav-main button {
  background-color: var(--red);
  padding: 0.5rem 1.5rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;

  color: black;
}
.nav-main button:hover {
  background-color: var(--grey);
  color: var(--black);
  box-shadow: 0 0 50px red;
}

.nav-main h1 {
  color: #eee;

  border-bottom: 5px solid red;
}

@media screen and (max-width: 650px) {
  .nav-main {
    width: 98%;
    padding-top: 5px;
  }
  .nav-main h1 {
    font-size: 22px;
  }
  .nav-main button {
    padding: 0.5rem 1rem;
  }
}
