.bottomnav_main {
  bottom: 0;
  position: fixed;
  z-index: 2;
  height: 100px;
  width: 100%;

  border-radius: 10px 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.bottomnav_main svg {
  font-size: 2rem;
  color: var(--black-color);
  transition: 1s ease;
  margin: 0 0.8rem;
}

.bottomnav_main svg:hover {
  color: var(--gray-color);
}

@media screen and (min-width: 600px) {
  .bottomnav_main {
    display: none;
  }
}
