.footer-main {
  width: 80%;
  margin: auto;
}
.footer-main > div {
  text-align: center;
}
.footer-main button {
  background-color: var(--red);
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto;
}
.footer-main button:hover {
  background-color: var(--grey);
  color: var(--black);
  box-shadow: 0 0 50px red;
}

.footer-main p {
  color: var(--grey);
  font-size: 14px;
  padding: 3px;
}
.footer-main #copy,
#sema {
  text-align: center;
  margin: 20px auto;
}

.footer-main a {
  color: var(--red);
}

@media screen and (max-width: 650px) {
  .footer-main {
    width: 90%;
  }
}
