.testimonial-main {
  display: flex;
  align-items: center;
  /* overflow-x: auto; */
  width: 80%;
  margin: 30px auto;
  color: var(--grey);
}
.testimonial-box {
  min-width: 200px;
  max-height: auto;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;

  border: 1px solid var(--red);
}
.testimonial-box p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.testimonial-box p > img {
  width: 90px;
}

@media (max-width: 1024px) {
  .testimonial-main {
    width: 95%;
  }
}
@media (max-width: 650px) {
  .testimonial-main {
    width: 95%;
    overflow-x: auto;
  }
  .testimonial-box {
    min-width: 95%;
  }
}
